body {
  padding: 0;
}
html, body {
  width: 100%;
  font-family: 'montserrat', 'Helvetica Neue', '微軟正黑體',Helvetica , sans-serif;
  -webkit-font-smoothing: subpixel-antialiased;
}

p,span,a {
  font-family: 'montserrat', 'Helvetica Neue','微軟正黑體', Helvetica, Arial, sans-serif;
  font-size: 14px;
}
h1 {
    margin-top: 80px;
    margin-bottom: 50px;
    font-size: 2rem;
}
.header > div {
    height: 100%;
    line-height: 30px;
}
.carousel-item {
    height: 75vh;
    min-height: 490px;
    background: no-repeat center center scroll;
    background-image: none;
    background-size: auto auto;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.bg-yellow {
    background-color: #ffc526;
}
.nav-link {
    font-weight: bolder;
    font-size: 20px;
    color: #553c0f!important;
}
.dropdown-item:focus, .dropdown-item:hover {
    background-color: #ffcc4d;
}
.banner {
    margin: 50px auto;
    max-width: 625px;
}
.big-title-index {
    padding-top: 20px;
    font-weight: bolder;
    font-size: 2rem;
}
.footer-bg {
    background-color: #3b3c3d;
}
.footer-bg p {
    color: #fff;
    font-weight: bold;
    padding-top: 10px;
}
.hr1 {
    border-top: 1px solid rgba(0,0,0,1);
    margin-bottom: 50px;
    height: 20px;
}
.nav-tabs a {
    color: #c18a00;
}
.nav-tabs a:hover {
    color: #d79900;
}
.border-yellow {
    border-width: 3px;
    border-color: #ffc526;
    min-height: 135px;
}
.title-index {
    padding-top: 20px;
    padding-bottom: 20px;
    font-weight: bolder;
    font-size: 1.5rem;
}
.unit {
    background-color: #585550;
}
.unit p {
    color: #fff;
    font-weight: bolder;
    font-size: 20px;
}
thead {
    background-color: #d79900;
}
/*排版*/
.m-t-30 {
	margin-top: 30px;
}
.m-t-50 {
	margin-top: 50px;
}
.m-t-70 {
	margin-top: 70px;
}
.m-t-90 {
	margin-top: 90px;
}
.mb-50 {
    margin-bottom: 50px;
}
.p-0 {
    padding: 0;
}
.mr-0 {
    margin-right: 0;
    padding-right: 0;
}
.p-l-10 {
    padding-left: 10px;
}
.p-b-20 {
    padding-bottom: 20px;
}
.p-t-20 {
    padding-top: 20px;
}
@media (max-width:480px) {
    .banner {
    margin: 0;
    }
    .p-l-40 {
        padding-left: 10px;
    }
}